/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 17, 2018, 8:00:53 AM
    Author     : ahmedhosny
*/

.container-fluid {
    padding: 0px;
    padding-top: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    
}

.bg-primary {
    background-color: #790604 !important;
}


.btn-primary {
    color: #fff;
    background-color: #790604;
    border-color: #790604;
    
}




.text-primary {
    color: #790604!important;
}


label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:right;
}

input{

}

fieldset{
border:none;
width:500px;
margin:0px auto;
}